ipykernel
langchain
langchain_community
langchain_openai
langchain_core
langgraph
google-auth
google-auth-oauthlib
google-auth-httplib2
streamlit
fitz
frontend
langchain_groq
pymupdf
google-api-python-client